body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-content-wrapper {
    display: flex;
    padding: 50px 20px;
}

.container {
    width: 100%;
    margin: auto;
}

.first-helf {
    flex: 0 0 50%;
}

h1 {
    font-size: 40px;
}

.orange-color {
    color: orange;
}

.hire-btn {
    display: inline-block;
    padding: 10px 40px;
    background-image: linear-gradient(orange, tomato);
}

.hire-btn a {
    text-decoration: none;
    border-radius: 5px;
}

.second-helf {
    flex: 0 0 50%;
    text-align: center;
}

.second-helf img {
    width: 60%;
    border-radius: 80%;
}

/*second section*/

.dream-big-content-w {
    display: flex;
    padding: 50px 0;
}

.image-area {
    flex: 0 0 50%;
    text-align: center;
    background-color: rgb(210, 255, 255);
}

.image-area img {
    width: 60%;
    border-radius: 80%;
}

.dream-area {
    flex: 0 0 50%;
}

.dream-area-w {
    padding-left: 30px;
}

.download-btn a {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 30px;
    border-radius: 5px;
}

/*2nd part end*/


.experience-content-wrapper {
    padding: 50px 0;
}

.flexgible-area {
    display: flex;
    padding: 0 40px;
}

.first-blog {
    flex: 50%;
    margin: 0 50px;
    box-shadow: 10px 10px 40px gray;
}

.first-blog-w {
    padding: 10px 15px;
    border-left: 5px solid tomato;
}

.second-blog {
    flex: 50%;
    margin: 0 50px;
    box-shadow: 10px 10px 40px gray;
}

.second-blog-w {
    padding: 10px 15px;
    border-left: 5px solid blue;
}