body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-content-wrapper {
    display: flex;
    padding: 50px 0;
}

.container {
    width: 100%;
}

.first-helf {
    flex: 0 0 50%;
    padding-left: 30px;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

.hire-btn {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
}

.second-helf {
    flex: 0 0 50%;
    text-align: center;
}

.second-helf img {
    width: 60%;
    border-radius: 80%;
}

/*second section*/

.dream-big-content-w {
    display: flex;
    padding: 50px 0;
}

.image-area {
    flex: 0 0 50%;
    text-align: center;
}

.image-area img {
    width: 60%;
    border-radius: 80%;
}

.dream-area {
    flex: 0 0 50%;
    padding-left: 20px;
}

.download-btn a {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 30px;
    border-radius: 5px;
}